table {
  width: 98%;
  margin: 1%;
  margin-top: 20px;
}

thead {
  font-size: 20px;
  color: blue;
  background-color: aquamarine;
}

th {
  border: 1px solid blue;
  text-align: center;
}

td {
  border: 1px solid gray;
  padding: 5px;
}

tbody {
  font-size: 16px;
}
tr {
  margin: 10px 0;
}



