<table class="col-12">
  <thead>
    <tr>
      <th *ngFor="let h of head"> {{h}} </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let branch of branches">
      <td>{{branch.type}}</td>
      <td>{{branch.distance}}</td>
      <td>{{branch.address.city}}</td>
      <td>{{branch.address.street}}</td>
      <td>{{branch.address.houseNumber}}</td>
      <td>{{branch.address.postalcode}}</td>
      <td>( {{branch.address.geoLocation.lat}} , {{branch.address.geoLocation.lng}} )</td>
    </tr>
  </tbody>
</table>
