.btn {
      width: 100px;
      height: 40px;
      border: solid 1px transparent;
      background-color: blue;
      margin-left: 15px;
      color: white;
      text-align: center;
      font-weight: bold;
}
